__pycache__/ 
*.pyc 
data/ 
models/ 
.env 
*.ipynb_checkpoints 
*.ipynb
*.jpg
*.txt
*.h5
*.pt
*.png
*.csv
*.pt
*.h5
volume_dataset/
output/
venv/
.venv/
env/
runs/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
*.cache
*.log

.vscode/
.idea/

__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
uploads/
output/
upload/
*.h5
*.pt

.DS_Store
